{% extends 'base.html' %}

{% block content %}
<h1>{% block title %} Your Assignments {% endblock %}</h1>
<div style="display: flex; justify-content: left; font-size: 17px;">
    <table style="border-collapse: collapse; width: 50%; text-align: center;">
        <tr>
            <th style="color: #a57101; font-weight: bold; font-size: larger; border-bottom: 1px solid black;"> Name </th>
            <th style="color: #fbaf08; border-bottom: 1px solid black;"> Due Date </th>
            <th style="color: #fbaf08; border-bottom: 1px solid black;"> Due Time </th>
            <th style="color: #fbaf08; border-bottom: 1px solid black;"> Actions </th>
        </tr>
        {% for assignment in assignments %}
        <tr>
            <td style="padding-top: 10px; padding-bottom: 10px; border: 1px solid black;">{{ assignment.name }}</td>
            <td style="border: 1px solid black;">{{ assignment.due_date }}</td>
            <td style="border: 1px solid black;">{{ assignment.due_time }}</td>
            <td style="border: 1px solid black">
                <a href="{{ url_for('update_assignment_page', assignment_name=assignment.name) }}">
                    <button
                        style="font-size:large; background-color: #0e4bd9; border: none; color: white; border-radius: 5px;">
                        Edit</button>
                </a>
                &nbsp;
                <a href="{{ url_for('remove_assignment', name=assignment.name) }}">
                    <button
                        style="font-size: large; background-color: #e6151f; color: white; border: none; border-radius: 5px;">
                        Delete</button>
                </a>
            </td>
        </tr>
        {% endfor %}
    </table>
</div>
{% endblock %}